* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}
body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
    background-color: #cecece;
}
.hero {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgb(61, 61, 61);
    padding-bottom: 40px;
}
h1 {
    display: flex;
    justify-content: center;
    padding: 20px;

}

.play-buttons {
    display: flex;
    justify-content: center;
    background-color: lightblue;
}

.play-regular, .play-hard {
    margin: 10px;
}

.score-title {
    display: flex;
    padding: 30px;
}

.score {
    display: flex;
    justify-content: space-between;
    padding: 0 20%;
}

img {
    width: 175px;
    padding: 15px;
    margin-left: 5px;
    border: solid;
    border-radius: 20px;
    background-color: rgb(228, 228, 228);

}

img:hover {
    cursor: pointer;
    transform: scale(1.1);
    box-shadow: 0 0 20px 1px;
  }

.player-choices {
  padding: 100px;
  display: flex;
  justify-content: space-around;
  
}

.score-heading {
    display: flex;
    justify-content: space-between;

    align-items: center;
}

#results-container {
    font-weight: bold;
}
